@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F343A;
    width: calc(100%-40%);
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.line{
    width: 0px;
    height: 46px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.text-logo{
    color: #fff; 
    font-weight: 400;
    transition: all 400ms ease;
}

.text-logo:hover{
    color: #C8A35F;
    cursor: default;
    
}

.nav-menu{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.btn-h1:hover{
    color:#C8A35F;
    cursor: default;
    transition: all 400ms ease;
}
.btn-h2:hover{
    color:#C8A35F;
    cursor: default;
    transition: all 400ms ease;
}
.btn-h3:hover{
    color:#C8A35F;
    cursor: default;
    transition: all 400ms ease;
}
.btn-h4:hover{
    color:#C8A35F;
    cursor: default;
    transition: all 400ms ease;
}
/*--------------------------*/

.main-img{
    background-image:  url('Rectangle 2.png');
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-main{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #C8A35F solid 2px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.text-main h3{
    font-size: 64px;
}

.text-main p{
    font-size: 18px;
}
/*---------------------*/
.h-1{
    font-size: 40px; 
    color: #fff; 
    padding-left: 500px; 
    margin-bottom: 10px;
}

.centr{
    background-color: #2F343A;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.centr-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.line-centr{
    width: 90px;
    height: 6px;
    background-color: #C8A35F;
    border: none;
}

.btn{
    color: #fff;
    background-color: #C8A35F;
    transition: all 400ms ease;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-size: 18px;
    border: none;
    display: flex;
    min-width: 220px;
    max-width: 220px;
    min-height: 55px;
    max-height: 55px;
}

.btn:hover{
    background-color:#816532;
    cursor: default;
    transition: all 400ms ease;
}

.sentr-img{
    background-image: url('Rectangle 4.png');
    width: 445px;
    height: 266px;
}
.button {
    display: flex;
    flex-direction: column;
    gap: 160px;
    align-items: center;
}

.button img {
    display: block;
    max-width: 100%; 
    height: auto; 
    flex-shrink: 0;
}
/*---------------------------------*/
.services{
    background-color: #2F343A;
    height: 500px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}


.line-centr2{
    width: 90px;
    height: 6px;
    background-color: #C8A35F;
    border: none;
    margin-left: 500px;
    margin-bottom: 10px;
}

.btn-flex{
    padding-left: 395px;
    padding-right: 350px;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.btn1 {
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn1:hover::before {
    opacity: 1;
}


.btn2{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn2:hover::before {
    opacity: 1;
}

.btn3{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn3:hover::before {
    opacity: 1;
}

.btn4{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn4:hover::before {
    opacity: 1;
}

.btn5{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn5:hover::before {
    opacity: 1;
}

.btn6{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn6:hover::before {
    opacity: 1;
}
.btn7{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn7:hover::before {
    opacity: 1;
}
.btn8{
    background-image: url(all-services__item.png);
    background-size: cover;
    width: 278px;
    height: 180px;
    border: none;
    position: relative;
    overflow: hidden;
}

.btn8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(all-services__item_hover.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.btn8:hover::before {
    opacity: 1;
}

/*--------------------------*/
.about-the-company{
    display: flex;
    background-color: #2F343A;
    height: 500px;
}

.h-2{
    font-size: 40px; 
    color: #fff; 
    padding-left: 430px; 
    margin-bottom: 10px;
}

.text-the-company{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.line-centr3{
    width: 90px;
    height: 6px;
    background-color: #C8A35F;
    border: none;
    margin-left: 430px;
    margin-bottom: 10px;
}

.lorem{
    color: #fff;
    font-size: 16px;
    margin-left: 400px;
    line-height: 24px
}

.about-img{
    display: flex;
    padding-top: 50px;
    height: 320px;
    margin-right: 400px;
}
/*---------------------------*/
.map{
    background-image: url(maps.png);
    width: 1903px;
    height: 450px;
    border-top: #C8A35F solid 2px;
}

/*-----------------------------*/

footer{
    background-color: #C8A35F;
    width: 1903px;
    height: 160px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 30px;
}

h5{
    color: #fff;
    padding-bottom: 5px;
}

h4{
    color: #fff;
}